<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mprof.com">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login">
        </activity>
        <activity android:name=".SignupActivity">
            android:label="@string/signup_bar"
        </activity>
        <activity android:name=".UserHomeActivity">
            android:label="@string/home_bar"
        </activity>
        <activity android:name=".UserProfilActivity">
            android:label="@string/profil_bar"
        </activity>
        <activity android:name=".UserInfoActivity">
            android:label="@string/info_bar"
        </activity>
        <activity android:name=".ReadMessageActivity">
            android:label="@string/readMessage_bar"
        </activity>
        <activity android:name=".SendMessageActivity">
            android:label="@string/sendMessage_bar"
        </activity>
        <activity android:name=".ListMessageActivity">
            android:label="@string/listMessage_bar"
        </activity>
    </application>

</manifest>